.chess-board {
  display: flex;
  justify-content: center;
}
.chess-board .chess-board__tile {
  height: 5rem;
  width: 5rem;
  border: 1px solid black;
}
.chess-board .chess-board__tile .pointer {
  display: none;
  height: 1rem;
  width: 1rem;
}
.chess-board .black {
  background-color: #b58763;
}
.chess-board .white {
  background-color: #f0dab5;
}